body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    position: relative;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
    margin: 30px auto;
    max-width: 1000px;
    position: relative;
}
